.navbarTopMazeProject{
    display: flex;
}

.mazeImgNavbar{
    position: relative;
    left: 15%;
    top:27px;
}
.mazeTextNavbar{
    position: relative;
    height: -3px;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #606165;
    left: 19%;
    flex-grow: 0;
}
#searchPostNavbar{
    position: relative;
    left: 725px;
    box-sizing: border-box;
    width: 761px;
    height: 50px;
    top: 20px;
    border: 1px solid rgba(51, 51, 51, 0.3);
    border-radius: 14px;
    background-image: url('search.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
    padding-top: 2px;
    font-size: large;
}
.secondContainerMazeProject{
    position: relative;
    background: #F9FAFB;
    left: 14%;
    width: 74%;
    height: auto;
}

.createPostContainer{
    border-radius: 14px;
    background: white;
    width: 97%;
    height: 175px;
    margin: auto;
}

.secondContainerCreatePostBar input{
    width: 87%;
    position: relative;
    padding: 1%;
    background: #F5F6F8;
    border-radius: 14px;
    margin: 27px;
    left: 2.5%;
    font-size: large;
}

.secondConatinerPhotoVideoPic{
    display: flex;
    width: 37%;
    position: relative;
    height: 28px;
    top: -42px;
    margin-left: 40px;
    padding: 9px;
    justify-content: space-around;
}

.secondConatinerCreateArticleButton{
    color: black;
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-end;
}
.secondConatinerCreateArticleButton input{
    background: #377DFF;
    border-radius: 10px;
    width: 151px;
    height: 46px;
    top: -30%;
    color: #FFFFFF;
    margin-right: 81px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18.5px;
    border: none;
}

.secondConatinerCreateArticleButton:hover input {
    background-color: #4CAF50; /* Green */
    color: white;
    text-underline-mode: bold;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    text-decoration: underline;
    cursor: pointer;
}

.secondConatinerVideoPic{
    display: flex;
    width: 25%;
    position: relative;
    justify-content: space-evenly;
    left: -15px;
}
.secondConatinerPhotoPic{
    display: flex;
    width: 25%;
    position: relative;
    justify-content: space-evenly;
    left: -15px;
}
.secondConatinerFeelingPic{
    display: flex;
    width: 25%;
    position: relative;
    justify-content: space-evenly;
    left: -15px;
}

.thirdContainerPostBody{
    border-radius: 14px;
    background: white;
    width: 97%;
    height: auto;
    margin: auto;
}

.thirdContainerTitleBar{
    width: 87%;
    position: relative;
    padding: 1%;
    border-radius: 14px;
    left: 2.5%;
}

.dropbtn {
    color: black;
    padding: 10px;
    font-size: 30px;
    cursor: pointer;
    margin-right: 70px;
    position: relative;
    top: -70px;
}

.dropdown {
    position: relative;
    display: inline-block;
    float: right;
}

.dropdown-content {
    display: none;
    position: relative;
    right: 83px;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    z-index: 1;
    top: -61px;
    width: 108px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #f1f1f1;
}

.thirdContainerBodyOfPost{
    width: 87%;
    position: relative;
    padding: 1%;
    border-radius: 14px;
    left: 2.5%;
}

.thirdContainerBodyOfPost a{
    text-decoration: none;
    color: black;
}

.thirdContainerLikeCommentPics{
    position: relative;
    display: flex;
    margin-left: 60px;
}
.thirdContainerLikePic{
    display: flex;
    width: 10%;
    position: relative;
    justify-content: space-evenly;
    left: -15px;
}
.thirdContainerCommentPic{
    display: flex;
    position: relative;
    margin-left: 130px;
    justify-content: space-evenly;
    width: 12%;
}


.thirdConatinerCreateComment input{
    width: 79%;
    position: relative;
    padding: 1%;
    background: #F5F6F8;
    margin: 12px;
    left: 2.5%;
    font-size: large;
    border-radius: 13px;
    top: -18px;
}

.thirdConatinerShowComment{
    width: 79%;
    position: relative;
    padding: 1%;
    background: white;
    margin: 12px;
    left: 2.5%;
    font-size: large;
    border-radius: 13px;
    top: -18px;
}

.thirdConatinerCreateCommentButton{
    display: flex;
    position: relative;
    justify-content: flex-end;
    top: -73px;
    float: right;
    margin-right: 127px;
    border-radius: 7px;
    border: none;
}
.thirdConatinerCreateCommentButton input{
    padding: 10px;
    position: relative;
    margin-right: 60px;
}
.thirdContainerCreateCommentIcon{
    width:30px;
    heigth:30px;
}
.showPageShowAllComments{
    width: 89%;
    position: relative;
    padding: 1%;
    background: white;
    margin: 12px;
    left: 2.5%;
    font-size: large;
    border-radius: 13px;
    top: -18px
}
.hrTagShowPage{
    color: #000000;
}

.loginPageFullConatiner{
    background-image: url("image 64.png");
    width: 100.4%;;
    height: 979px;
    background-position: center;
    background-size: cover;
    margin-top: -20px;
    margin-left: -7px;
}

.loginPageTopNavbar{
    display: flex;
    margin-left: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.MazeImageLoginPage{
    height:60px;
    margin-top: 10px;
}
.loginPageLoginConatiner{
    width: 458px;
    height: 458px;
    margin: auto;
    text-align: center;
    background: linear-gradient(152.97deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
    backdrop-filter: blur(21px);
    border-radius: 16px;
    padding: 10px;
    position: relative;
    top: 12%;
}

.loginPageEmailTextField{
    width: 65% ;
    padding: 12px;
    margin-bottom: 30px;
    border-radius: 6px;
}
.loginPagePasswordTextField {
    width: 65% ;
    padding: 12px;
    margin-bottom: 25px;
    border-radius: 6px;
}
.loginPageEmailPasswordText{
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 200%;
    letter-spacing: -0.02em;
    color: #F9FAFB;
}
.loginPageCheckBox{
    width: 20px;
    height: 20px;
    border: 1px solid ;
    border-radius: 2px;
    float: left;
    margin-left: 70px;
}
.loginPageRemeberMe {
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 180%;
    letter-spacing: -0.02em;
    color: lightblue;
    float: left;
    margin-left: 6px;
}
.loginPageLogInButton{
    position: relative;
    width: 206px;
    height: 48px;
    background: #377DFF;
    border-radius: 5px;
    left: -65px;
    margin-top: 20px ;
}
.loginPageForgetPasswordText{
    color: white;
}
.loginPageSignUpLink{
    color: white;
    position: relative;
    left: 10px;
    font-size: 14px;
}
.loginPageForgetPasswordLink{
    color: white;
    position: relative;
    font-size: 15px;
    top: -17px;
    right: 98px;
}






